<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aprilo" translate="label" sortOrder="100">
            <label>Aprilo</label>
        </tab>
        <section id="chatbot" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Chatbot Settings</label>
            <tab>aprilo</tab> <resource>Aprilo_Chatbot::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ollama_endpoint" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ollama API Endpoint</label>
                    <comment>Enter the full API endpoint for the Ollama chat service. E.g., http://localhost:11434/api/chat</comment>
                </field>
            </group>
        </section>
    </system>
</config>